<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingu.driverapp">

    <!-- Internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Barcode scanning -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- File -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.notification.NotificationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarMenuTheme" />

        <activity
            android:name=".ui.home.task.PickupListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.pending.delivery.PendingDeliveryListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.pending.pickup.PendingPickupListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.pending.arrival_at_hub.PendingArrivalAtHubActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.changepassword.ChangePasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.forgotpassword.ForgotPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.orders.completed.CompletedListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.orders.history.HistoryListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.operation.pickup.PickupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.operation.deliverysignature.DeliverySignatureActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.operation.problematicparcel.ProblematicParcelActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.operation.barcodescanner.ScanBarcodeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppBarcodeTheme" />

        <activity
            android:name=".ui.home.operation.deliverysignature.signature.DigitalSignatureActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarMenuTheme" />

        <activity
            android:name=".ui.home.pending.delivery.details.DeliveryDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarMenuTheme" />

        <activity
            android:name=".ui.search.tracking.TrackParcelActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarMenuTheme" />

        <activity
            android:name=".ui.home.operation.deliverysignature.photo.CameraActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

    </application>

</manifest>